root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2

[*.xml]
indent_size = 2

[*.sh]
indent_size = 2

[*.bat]
end_of_line = crlf

[gradlew]
end_of_line = lf

[gradlew.bat]
end_of_line = crlf

[*.java]
indent_size = 4